# Dependencies
/node_modules

# Environment variables
.env

#build
/dist

# Database
db/
!db/.gitkeep


# Cache
.apex-cache

# Estado del bot segun servidor
.bot-state

# Logs
logs/
!logs/.gitkeep
# Ignorar todos los archivos .log
*.log

# Website
/website

# VSCode
.vscode/