# Dependencies
/node_modules

# Environment variables
.env

#build
/dist

# Database
db/
!db/.gitkeep


# Cache
.apex-cache

# Estado del bot segun servidor
.bot-state

# Logs
logs/
!logs/.gitkeep
# Ignorar todos los archivos .log
*.log

# Website
/website

# VSCode
.vscode/
.clinerules/byterover-rules.md
.kilocode/rules/byterover-rules.md
.roo/rules/byterover-rules.md
.windsurf/rules/byterover-rules.md
.cursor/rules/byterover-rules.mdc
.kiro/steering/byterover-rules.md
.qoder/rules/byterover-rules.md
.augment/rules/byterover-rules.md